
/*Fonts used in the website*/

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');
@font-face {
    font-family: "preeti-regular";
    src: url(./fonts/Preeti\ Normal.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "preeti-bold";
    src: url(./fonts/Preeti\ Bold.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ananda-regular";
    src: url(./fonts/Ananda\ Akchyar.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ananda-bold";
    src: url(./fonts/Ananda\ Akchyar\ bold.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ganess-regular";
    src: url(./fonts/Ganess\ Regular.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "yakthung-regular";
    src: url(./fonts/yakthung.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "yakthung-bold";
    src: url(./fonts/yakthungb.ttf);
    font-style: normal;
    font-weight: normal;
}

body {
    background: #dfdea8c0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Sign board contents*/
.sign-board {
    background: #2c1999d8;
    color: #fff;
    width: 300px;
    height: 150px;
    border: 0.5em solid #bdb9b7;
    border-radius: 8px;
    position: absolute;
    z-index: 10;
    cursor: default;
    transform: translate(20px, 120%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section section:first-child h3 {
    background: #2c1999d8;

}
.board-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: relative;
}
.txt-center {
    text-align: center;
}
/* Three text inside sign board */
.sign-board-content h3:first-child {
    font-size: 14pt;
    font-weight: bold;
}
.sign-board-content h3:nth-child(2) {
    font-size: 18pt;
    line-height: 5px;
    background: #2c1999d8;
}
.sign-board-content h3:nth-child(3) {
    font-family: yakthung-bold;
    font-size: 19pt;
}

/* Leg part of sign board */
section:nth-child(2) {
    display: inline-flex;
}
section:nth-child(2) .first-leg, section:nth-child(2) .second-leg {
    background: #bdb9b7;
    position: relative;
    height: 150px;
    width: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section:nth-child(2) .second-leg {
    position: relative;
    margin-left: 280px;
}

/* This is soil part */
section:nth-child(2).soil {
    height: 70%;
    width: 100%;
    position: absolute;
    bottom: 0;

}
.soil div:first-child ,.soil div:first-child img ,.soil div:nth-child(2) img {
    width: 100%;
}
.soil div:first-child img {
    opacity: 92%;
    height: 40%;
}
.soil div:nth-child(2) img {
    height: 61%;
    position: absolute;
    left: 0;
    bottom: 0;
}
/* This section is for logo */
section:nth-child(3) img:first-child {
    width: 185px;
    height: 185px;
    z-index: 10;
   position: absolute;
    top: 0;
    float: left;
}
/* Displaying in inline */
section:nth-child(3) {
    display: inline-flex;
}
section:nth-child(3) div:first-child img:first-child, section:nth-child(3) div:first-child h1 {
    position: absolute;
}
/* This section is for header */
section:nth-child(3) div:nth-child(2) {
    display: inline-block;
    font-stretch: semi-condensed;
}
section:nth-child(3) div:nth-child(2) h1:first-child {
    color: red;
    font-family: ananda-bold;
    font-weight: bold;
    font-size: 16pt;
    right: 17em;
    top: 0;
}
section:nth-child(3) div:nth-child(2) h1:nth-child(2) {
    font-family: yakthung-bold;
    color: green;
    font-weight: bold;
    font-size: 30pt;
    transform: scale(1.32, 1.02);
    letter-spacing: 1px;
}
section:nth-child(3) div:nth-child(2) h1:nth-child(3) {
    color: red;
    font-weight: bold;
    font-size: 13pt;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    transform: scale(1.8, 2.01);
    letter-spacing: .8px;
}
section:nth-child(3) div:nth-child(2) h1:nth-child(4) {
    font-family: ganess-regular;
    color: #2c1999d8;
    font-size: 45pt;
    transform: scale(1, 0.95);
    margin-top: .7em;
    margin-bottom: .5em;
}
section:nth-child(3) div:nth-child(2) h1:nth-child(5) {
    font-family: ganess-regular;
    color: #2c1999d8;
    font-size: 25pt;
    transform: scale(1, 0.95);
}
section:nth-child(3) div:nth-child(2)  {
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 1em;
    top: 0;
}

/* For fence */
section:nth-child(4) {
    position: absolute;
    z-index: 11;
    bottom: 90px;
    width: 100%;
}
section:nth-child(4) img:first-child, section:nth-child(4) img:nth-child(2) {
    height: 200px;
    width: 50em;
    position: relative;
    float: inline-start;
}
section:nth-child(4) img:nth-child(2) {
    height: 200px;
    width: 300px;
    margin-left: -5px;
}
section:nth-child(4) img:nth-child(3) {
   position: inherit;
   float: inline-end;
   width: 27.999em;
   right: 0;
   height: 200px;
}

/* This is for road */
section:nth-child(5) {
    position: relative;
    z-index: 35;
    height: 108px;
    background: rgba(21, 114, 60, 0.644) url(/images/road.png);
    margin-top: 462px;
    opacity: 85%;
    background-size: contain;
}

/* This is footer */
footer {
    position: absolute;
    background: #0000;
    color: rgb(0, 0, 0);
    text-align: center;
}