
/*Fonts used in the website*/
@font-face {
    font-family: "preeti-regular";
    src: url(./fonts/Preeti\ Normal.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "preeti-bold";
    src: url(./fonts/Preeti\ Bold.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ananda-regular";
    src: url(./fonts/Ananda\ Akchyar.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ananda-bold";
    src: url(./fonts/Ananda\ Akchyar\ bold.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ganess-regular";
    src: url(./fonts/Ganess\ Regular.otf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "yakthung-regular";
    src: url(./fonts/yakthung.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "yakthung-bold";
    src: url(./fonts/yakthungb.ttf);
    font-style: normal;
    font-weight: normal;
}
#loading {
    width: 100%;
    height: 100vh;
    background: rgb(230, 230, 230);
    position: fixed;
    z-index: 5555;
}
.pre-loader {
    width: 19em;
    height: 19em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 

};

/* Mobile Responsive */

/* Tags */
header {
    background-image: url(./images/Group\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
body {
    padding: 0;
    margin: 0;
    background: #195746;
}
/* Heading */
.text-ananda-b {
    font-family: "ananda-bold";
}
.text-yakthung-r {
    font-family: "yakthung-regular";
}
.text-ganess-r {
    font-family: "ganess-regular";
}
.text-calibri-r {
    font-family: "calibri";
}
.head-logo {
    height: 12em;
    width: 12em;
    padding: .75em;
}
header div img {
    float: left;
}
header div .org-introduction {
    float: right;
    padding: .3em;

}
.org-introduction {
    text-align: center;
    line-height: .75em;
    width: 75%;
}


.text-red{
    color: #FF0000;
}
.text-heading-green{
    color: #306948;
}
.text-heading-blue{
    color: #50456F;
}
.size-1-heading {
    font-size: 20pt;
}
.size-2-heading {
    font-size: 30pt;
    transform: scale(1.01, 0.9);
}
.size-3-heading {
    font-size: 23pt;
    /* stretching font vertically */
    transform: scale(0.8, 1.2);
    letter-spacing: 1pt;
    font-weight: bolder;
    padding-top: 1pt;
  
}
.size-4-heading {
    font-size: 30.38pt;
    transform: scale(1.1, 1.1);
}
.size-5-heading {
    font-size: 18pt;
}
.cap {
    text-transform: uppercase;
}
nav {
    background-color: #50456F;
    height: 2em;
    color: white;
}
.body-content {
    background-color: #F5F1E1;
    border: 2px solid #75859A;
    border-radius: .5em;
    margin: 1em;
    height: 100vh;
}
footer {
    background-color: #343F55;
    height: auto;
    padding: 3em;
}
.footer-logo {
    display: block;
    padding-left: 3.1em;
    padding-top: 0.5em;
}